<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<insert id="memberJoin" parameterType="github.hansoryyy.webboard.dto.MemberDTO">
		INSERT 
		INTO member
			(
				login_id,
				login_pw,
				nickname,
				email
			) 
		values
			(
				 #{loginId},
				 #{loginPw},
				 #{nickname},
				 #{email}
			)
	</insert>
	
	<select id="memberCheck" parameterType="Map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			member
		WHERE
			${prop} = #{value}
	</select>




</mapper>