<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PostMapper">
	
	<!--
		PostDTO p = new PostDTO();
	 -->
	<select id="selectPostList" resultType="github.hansoryyy.webboard.dto.PostDTO">
		SELECT
			seq,
			title,
			writer,
			content,
			create_date as createDate
		FROM post
		
	</select>
	
	<select id="postView" parameterType="int" resultType="github.hansoryyy.webboard.dto.PostDTO">
		SELECT
			seq,
			title,
			writer,
			content,
			create_date as createDate
		FROM post
		WHERE
			seq = #{id}
	
	</select>



</mapper>